<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
</script>
<link href="~/Content/GenreStyleSheet.css" rel="stylesheet" />



@model IEnumerable<MovieDirectorApp.Models.Genre>

@{
    ViewBag.Title = "Index";
}



<div class="jumbotron"><p>
    <a class="btn btn-default" href=" @Url.Action("Create","Genres")">Create New</a>
</p></div>

<div class="row">

@foreach (var item in Model)
{
    <div class="animated rotateInDownRight">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                <div class="caption">

                    <p>@Html.DisplayFor(modelItem => item.Type)</p>

                    <p>
                        <a class="btn btn-default" href=" @Url.Action("Edit", "Genres", new { id = item.GenreID })">Edit</a>
                      @*  @Html.ActionLink(" Details", "Details" , new { id=item.GenreID }) |*@
                        <a class="btn btn-default" href=" @Url.Action("Delete", "Genres", new { id = item.GenreID })">Delete</a>"
                    </p>
                </div>
            </div>
        </div>
    </div>
}
</div>

